<!DOCTYPE html>
<html lang="vi" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta
      itemprop="description"
      name="description"
      content="<%= config.description %>"
    />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />

    <meta property="og:url" content="<%= url %>" />
    <meta
      property="og:image"
      content="<%- full_url_for('images/og-image.png') %>"
    />
    <meta property="og:description" content="<%= config.description %>" />
    <meta property="article:published_time" content="" />

    <% if (page.title) { %>
      <meta
        property="og:title"
        content="<%= page.title %> | <%= config.title %>"
      />
      <meta
        name="twitter:title"
        content="<%= page.title %> | <%= config.title %>"
      />
      <title><%= page.title %> | <%= config.title %></title>
    <% } else { %>
      <meta property="og:title" content="<%= config.title %>" />
      <meta name="twitter:title" content="<%= config.title %>" />
      <title><%= config.title %></title>
    <% } %>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="<%= config.description %>" />
    <meta name="twitter:card" content="summary" />

    <%- css('css/style.css') %>
    <%- favicon_tag('images/favicon.png') %>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&subset=vietnamese&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <%
      var posts = site.posts.sort('-date').toArray();
      var lastTenPosts = posts.slice(0, 10);
    %>

    <section class="mobile-nav-container">
      <nav>
        <div class="nav-links-container">
          <div class="nav-links">
            <a href="<%= url_for('/') %>">Dương & Đào Family</a>
            <a href="<%= url_for('/categories') %>">Chuyên mục</a>
          </div>
          <button href="#" class="nav-toggle" id="closeNav" style="cursor: pointer;">Return</button>
        </div>
        <div class="article-container">
          <% posts.forEach(function(post) { %>
            <div class="article">
              <a href="<%= post.permalink %>"><%- post.title %></a>
              <sub><%= date(post.date, 'YYYY-MM-DD') %></sub>
            </div>
          <% }); %>
        </div>
      </nav>
      <div class="nav-functions">
        <button class="mobile-toggle">Articles</button>
        <button href="#" class="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;">Dark Mode</button>
      </div>
    </section>

    <section class="desktop-nav-container">
      <nav>
        <div class="nav-links">
          <a href="<%= url_for('/') %>">Dương & Đào Family</a>
          <a href="<%= url_for('/categories') %>">Chuyên mục</a>
          <button href="#" class="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;">Dark Mode</button>
        </div>
        <div class="article-container desktop-article-container">
          <% lastTenPosts.forEach(function(post) { %>
            <div class="article">
              <a href="<%= post.permalink %>"><%- post.title %></a>
              <sub><%= date(post.date, 'YYYY-MM-DD') %></sub>
            </div>
          <% }); %>
        </div>
        <hr>
        <div class="all-posts">
          <a href="<%= url_for('/archives') %>">View All Posts</a>
          <sub><%= posts.length %></sub>
        </div>
      </nav>
    </section>
    <%- body %>
    <%- js('js/highlight.js') %>
    <%- js('js/mobile-nav.js') %>
    <%- js('js/mode-switcher.js') %>
    <script async data-id="101465897" src="//static.getclicky.com/js"></script>
  </body>
</html>
